:host {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: red;
    align-self: flex-end;
    right: initial;
}

video {
    height: 100%;
    position: absolute;
}

canvas {
    top: -9999px;
    left: -9999px;
    position: absolute;
}