md-toolbar {
    background: #F4B42A;
}

md-toolbar img {
    width: 36px;
    margin-right: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}