/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink';
body {
    margin: 0;
    background: whitesmoke;
}

md-card {
    margin: 10px;
    padding: 25px 0px;
}

button {
    background: transparent;
    border: 0 none;
    &[md-fab] {
        color: white;
        background-color: #34C3EE;
        position: absolute;
        bottom: 30px;
        right: 30px;
        z-index: 1;
        &.md-position-top {
            top: 30px;
        }
        &.md-size-medium {
            width: 66px;
            height: 66px;
        }
    }
}