:host {
    width: 100%;
}

button {
    z-index: 2;
}

div.md-list-item {
    flex-direction: row-reverse;
    text-align: right;
}

.message-list {
    margin-bottom: 80px;
}

.message-list md-card {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    z-index: 1;
    &.me {
        flex-direction: row-reverse;
        text-align: right;
    }
}

.message-list img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin: 0 15px;
}

md-input.full-width {
    width: 100%;
}

.message-date {
    color: gray;
    font-size: 13px;
}

.message-text {
    span {
        white-space: normal;
    }
    &.has-background {
        background-color: rgba(0, 0, 0, 0.6);
        bottom: -16px;
        position: absolute;
        left: 0;
        text-align: justify;
        color: white;
        padding: 14px;
    }
}

.message-text+a img {
    border-radius: 0;
    height: 200px;
    width: 200px;
}

.message-container {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin: 0;
    right: 0;
    left: 0;
    padding: 10px 6px;
    background-color: white;
}

.camera-container {
    background: #F4B42A;
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

.message-picture {
    width: 30px;
    height: 30px;
    margin: 10px 6px 0px 10px;
    border-radius: 50%;
}

img[md-prefix] {
    border: 4px solid red;
    animation: anim infinite 1s;
}

@keyframes anim {
    from {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

object {
    width: 56px;
    height: 56px;
    margin: 10px 19px;
}